[Unit]
Description=Auto-Ricer Watchdog Service
After=graphical-session.target

[Service]
Type=simple

ExecStart=/home/USER/path/to/auto-ricer/cmd/watchdog/auto-ricer -dir /home/USER/path/to/auto-ricer/pictures -sh /home/USER/path/to/auto-ricer/scripts/update_theme.sh

Environment=DISPLAY=:0
Environment=XAUTHORITY=%h/.Xauthority
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/%U/bus

Restart=always
RestartSec=3

WorkingDirectory=/home/USER/path/to/auto-ricer

[Install]
WantedBy=default.target
